<div class="container">
  <h4 class="mb-4 bg p-2 fw-bold">Lead Innovation Customer Support Tool</h4>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li class="nav-item" *ngFor="let tab of tabs" [ngbNavItem]="tab.tab">
      <a ngbNavLink>{{ tab.name }}</a>
      <ng-template ngbNavContent>
        <app-star-info *ngIf="active === 1"></app-star-info>
        <app-inquiries-info *ngIf="active === 2"></app-inquiries-info>
        <app-hierarchy-info *ngIf="active === 3"></app-hierarchy-info>
        <app-faq *ngIf="active === 4"></app-faq>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
